.container {
  position: absolute;
  width: 100%;
  left: -100%;
  z-index: 10;
  padding: 0 20px;
  background: linear-gradient(
    180deg,
    var(--dark-blue, #222342) 0%,
    rgba(34, 35, 66, 1) 100%
  );
  transition: all 0.9s ease;

  &.active {
    left: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 26px 0;
}

.title {
  text-align: center;
  flex-grow: 1;

  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
}

.inputContainer {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.inputSearch {
  padding: 15px 10px 15px 54px;
  max-height: 50px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: var(--bg-dark, #19172f);

  background: #222342;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: var(--white, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.28px;

  &:focus,
  &:hover {
    border: 1px solid var(--blue, #40a5f3);
  }
}

.inputLoupe {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

.btns {
  position: relative;
  display: flex;
  gap: 11px;
  margin-bottom: 20px;

  &::after {
    content: "";
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    bottom: -20px;
  }
}

.cryg {
  width: 18.073px;
  height: 20px;
}

.del {
  width: 20px;
  height: 20px;
}

.searchedTokens {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 311px;
  gap: 20px;
}

.tokenContainer {
  display: flex;
  justify-content: space-between;

  .cryg,
  .del {
    margin-right: 6px;
  }
  .cryg {
    width: 28.917px;
    height: 32px;
  }
  .del {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 540px) {
  .modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(34, 35, 66, 0.7);
  }
  .container {
    height: 379px;
    width: 100%;
    left: 0;
    top: 120%;
    background: #19172f;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 20px 10px 80px 0px rgba(64, 165, 243, 0.5);
    opacity: 1;
  }
  .container.active {
    top: 60%;
  }
}
