.button {
  cursor: pointer;
  // transition: all 0.3s ease;
}

.interface {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 6px 7px;

  border-radius: 30px;
  border: none;
  background: var(--dark-blue, #222342);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: var(--white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.24px;
  opacity: 0.7;
}

.transparent {
  background: transparent;
  border: none;
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.36px;

  &.active {
    font-weight: 600;
  }

  &:not(.active) {
    opacity: 0.3;
  }
}

.wallet {
  display: flex;
  padding: 16px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 14px;
  border: none;
  color: var(--white, #fff);
  background: var(--blue, #40a5f3);

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}

.converter {
  position: absolute;
  top: 44%;
  align-self: center;
  border: none;
  background: transparent;
}
