.data {
  display: flex;
  justify-content: space-between;
}

.data-sell {
  margin-bottom: 15px;
}

.data-purchase {
  margin-bottom: 25px;
}

.operationType {
  margin-bottom: 15px;
}

.sell {
  background: rgba(255, 255, 255, 0.04);
}

.totalCost,
.input {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.52px;
  color: var(--white, #fff);
}

.totalCost {
  margin-left: 10px;
  white-space: nowrap;
  overflow-x: auto;
}

.input {
  border: 1px solid transparent;
  padding: 5px 0;
  background: transparent;
  border-radius: 10px;
  outline: none;
  width: 45%;
  text-align: right;

  &:not(:focus) {
    &.input[type="number"]::-webkit-inner-spin-button,
    &.input[type="number"]::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  &:hover,
  &:focus {
    border: 1px solid var(--blue);
  }

  &:focus {
    padding: 5px 10px;
    text-align: left;
  }

  &::placeholder {
    font-size: 16px;
    vertical-align: middle;
    line-height: normal;
  }
}

.purchase {
  background: rgba(255, 255, 255, 0.2);

  .input {
    background: rgba(255, 255, 255, 0.04);
  }
}

.purchase,
.sell {
  max-width: 483px;
  max-height: 162.628px;
  padding: 18px 25px;
  padding-top: 15px;
  border-radius: 20px;
}

.name {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.52px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.operationType,
.description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.36px;
  opacity: 0.7;
}

.img-del {
  width: 36px;
  height: 36px;
}

.img-cryg {
  width: 32.532px;
  height: 36px;
}

.arrowSelect {
  width: 14px;
  height: 14px;
}

@media (max-width: 540px) {
  .operationType,
  .description {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.24px;
  }
  .img-cryg {
    width: 28.917px;
    height: 32px;
  }
  .img-del {
    width: 32px;
    height: 32px;
  }
  .name {
    font-size: 16px;
    letter-spacing: 0.32px;
  }
  .totalCost,
  .input {
    font-size: 16px;
    letter-spacing: 0.32px;
  }
  .purchase,
  .sell {
    max-width: 315px;
    max-height: 126px;
  }
}
