.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 96px;
  gap: 10px;
  margin-bottom: 8px;
}

.logoAndNavContainer {
  gap: 31px;
}

.mainLink {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.mainLink,
.logoAndNavContainer,
.list {
  display: flex;
  align-items: center;
}

.mainLink,
.link {
  color: var(--white, #fff);
  text-decoration: none;
}

.link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.7;

  &.active {
    color: var(--blue, #40a5f3);
    font-weight: 700;
    opacity: 1;
  }
}

.logo {
  margin-right: 6px;
}

// .nav {
//   padding: 0 10px;
// }

.list {
  gap: 23px;
}

.listItem {
  list-style-type: none;
}

.interface {
  display: flex;
  gap: 5px;

  & > button:first-of-type {
    padding: 7px 6.083px 7px 6px;
  }
}

@media (max-width: 860px) {
  .container {
    padding: 20px 36px;
  }

  .list {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 8px;
  }

  .logoAndNavContainer {
    gap: 15px;
  }
}

@media (max-width: 540px) {
  .container {
    justify-content: center;
    padding: 20px;
  }

  .logoAndNavContainer {
    display: none;
  }

  .interface {
    button:first-of-type {
      order: 3;
    }
  }
}
